
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');


body{
    font-family: 'Roboto';
    background-color: #F8F6F8; 
}


.card-body{
  margin: 10px;
  width: 400px;
  height: 300px;

}
.x{
  color: #9032C8;
}

.mserv{
  text-align: right;
  font-size: 20px;
  color: #9032C8;
}

.fecha{
  background-color: #9032C8;
  color: white;
  font-size: 18px;
}

button.card1 {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


